*.iws
*Db.properties
*Db.script
.settings
.DS_Store
.springBeans
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/

# project release file
/*.war
/*.sublime-workspace

bin
build.sh
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
spring-test/test-output/

argfile*
pom.xml
activemq-data/
/build
buildSrc/build
/spring-*/build

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.war
*.jar
out
test-output
atlassian-ide-plugin.xml

